<div class="dialog-container">
    <h2 mat-dialog-title>Nova Postagem (abordagem modelo) </h2>
    <mat-dialog-content>
        <form  [formGroup]="postForm" (ngSubmit)="onSubmit()">

            <mat-form-field>
                <mat-label>Author</mat-label>
                <input matInput formControlName="author" >
                <mat-error>Você deve inserir o nome do author</mat-error>
            </mat-form-field>

            <mat-form-field>
                <mat-label>Title</mat-label>
                <input matInput formControlName="title" >
                <mat-error>Você deve inserir o título</mat-error>
            </mat-form-field>

            <mat-form-field>
                <mat-label>Date</mat-label>
                <input matInput [matDatepicker]="picker" formControlName="date">
                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
                <mat-error>Você deve inserir uma data</mat-error>
            </mat-form-field>

            <mat-form-field>
                <mat-label>Content</mat-label>
                <textarea matInput rows="5" formControlName="content"></textarea>
                <mat-error>Você deve inserir algum conteúdo</mat-error>
            </mat-form-field>

            <button mat-flat-button [disabled]="!postForm.valid">Salvar</button>

        </form>
    </mat-dialog-content>
</div>