.new-post-container {
    display: flex;
    justify-content: flex-end;
    margin: 1rem 0 1rem 0;
}

.btWarn {
  background-color: #ff2922 !important; /* cor personalizada */
  color: #fff !important;               /* cor do texto */
}
